@model WebSite.Models.PortfolioViewModel

@{
    ViewBag.Title = "Portfolio";
    Layout = "../Shared/_Layout.cshtml";
}
@section BodyClass {
    <section id="portfolio">
        <div class="container">
            <div class="center">
                <h2>Portfolio</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam
                </p>
            </div>

            <ul class="portfolio-filter text-center">
                <li>
                    <a class="btn btn-default active" href="#" data-filter="*">All Works</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".html">Photography</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a>
                </li>
            </ul><!--/#portfolio-filter-->
            <div class="row">
                <div class="portfolio-items">
                @foreach (var item in Model.PhotoList)
                {

                    var divClasses = new string[3];
                    divClasses[0] = "portfolio-item";
                    divClasses[2] = "col-xs-12 col-sm-4 col-md-3";

                    if (item.Name.Contains("1"))
                    {
                        divClasses[1] = "bootstrap";
                    }
                    else if (item.Name.Contains("2"))
                    {
                        divClasses[1] = "html";
                    }
                    else
                    {
                        divClasses[1] = "wordpress";
                    }

                    <div class="@string.Join(" ",divClasses) ">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.ByteArray))" alt="@item.Name">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Business theme</a>
                                    </h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="@Url.Content("~/Content/Images/portfolio/full/item1.png")" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>


                        @*<div class="portfolio-item bootstrap col-xs-12 col-sm-4 col-md-3">

                            
                        </div>*@<!--/.portfolio-item-->
                }
               </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">We are hiring</a>
                            </li>
                            <li>
                                <a href="#">Meet the team</a>
                            </li>
                            <li>
                                <a href="#">Copyright</a>
                            </li>
                            <li>
                                <a href="#">Terms of use</a>
                            </li>
                            <li>
                                <a href="#">Privacy policy</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li>
                                <a href="#">Faq</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Forum</a>
                            </li>
                            <li>
                                <a href="#">Documentation</a>
                            </li>
                            <li>
                                <a href="#">Refund policy</a>
                            </li>
                            <li>
                                <a href="#">Ticket system</a>
                            </li>
                            <li>
                                <a href="#">Billing system</a>
                            </li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li>
                                <a href="#">Web Development</a>
                            </li>
                            <li>
                                <a href="#">SEO Marketing</a>
                            </li>
                            <li>
                                <a href="#">Theme</a>
                            </li>
                            <li>
                                <a href="#">Development</a>
                            </li>
                            <li>
                                <a href="#">Email Marketing</a>
                            </li>
                            <li>
                                <a href="#">Plugin Development</a>
                            </li>
                            <li>
                                <a href="#">Article Writing</a>
                            </li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li>
                                <a href="#">Adipisicing Elit</a>
                            </li>
                            <li>
                                <a href="#">Eiusmod</a>
                            </li>
                            <li>
                                <a href="#">Tempor</a>
                            </li>
                            <li>
                                <a href="#">Veniam</a>
                            </li>
                            <li>
                                <a href="#">Exercitation</a>
                            </li>
                            <li>
                                <a href="#">Ullamco</a>
                            </li>
                            <li>
                                <a href="#">Laboris</a>
                            </li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->
}